
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radiant</title>
    <link rel="stylesheet" href="static/css/main.css" />
</head>
<body>
<h1>Framework: {{ index . "Framework" }}({{ index . "Version" }})</h1>

    <h1>Hello {{.country}}</h1>
    <h1>Hello {{.city}}</h1>
    <h1>Hello {{.state}}</h1>
    <h1>Hello {{.hello}}</h1>
    <h1>welcome {{.welcome}}</h1>
  </body>
</html>
